<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css" />
    @RenderSection("css", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
