@model Shortener.Application.Users.Commands.RegisterUser.RegisterUserCommand

<form asp-controller="User" asp-action="Register" method="post">
    <div><h3>Створити нового користувача</h3></div>
    <p><p></p></p>
    <div>
        <label>Ім'я користувача</label>
        <br/>
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
        <p></p>
    </div>
    <div >
        <label>Пароль</label>
        <br/>
        <input asp-for="Password"/>
        <span asp-validation-for="Password" ></span>
        <p></p>
    </div>
    <div>
        <button type="submit" class="button">Створити</button>
    </div>
    <a asp-controller="User" asp-action="Login">Увійти</a>
    <div>
        <p><label>@ViewBag.ErrorMessage</label></p>
    </div>
</form>