@model CreateUrlDto
@{
    Layout = "/Views/_Layout.cshtml";
}

<form asp-controller="Url" asp-action="Create" method="post">
    <div><h3>Нове посилання</h3></div>
    <p><p></p></p>
    <div>
        <label>Заголовок</label>
        <br />
        <input asp-for="Title" class="input"/>
        <span asp-validation-for="Title"></span>
        <p></p>
    </div>
    <div>
        <label>Опис (опціонально)</label>
        <br />
        <input asp-for="Description" class="input"/>
        <p></p>
    </div>
    <div>
        <label>Посилання</label>
        <br />
        <input asp-for="BaseUri" class="input"/>
        <span asp-validation-for="BaseUri"></span>
        <p></p>
    </div>
    <div>
        <button type="submit" class="button">Створити</button>
    </div>
    <p><br/></p>
    <a asp-controller="Url" asp-action="GetAll" class="button">Назад</a>
</form>