@page
@model HomeController
@{
    var IsAuthorized = User.Identity.IsAuthenticated;
    Layout = "/Views/_Layout.cshtml";
}
@{
    <body>
    <div>
    @if (!IsAuthorized)
    {
        <p><h2>Необхідно увійти в систему!</h2></p>
        <p></p>
        <a asp-controller="User" asp-action="Login" class="link">Увійти</a>
        <p></p>
        <br/>
                <a asp-controller="User" asp-action="Register" class="link">Створити користувача</a>
    }
    else
    {
        <div>
            <br/>
                    <p><a asp-controller="Url" asp-action="GetAll" class="link">Мої посилання</a></p>
            <br/>
                    <p><a asp-controller="User" asp-action="Logout" class="link">Вийти</a></p>
        </div>
    }
    </div>
    </body>
}